.poster{
    width: 220px;
    height: 300px;
    border-radius: 8px;
    margin-top: 5px;
}
.genre-list{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
.genre-list li{
    margin: 5px;
    background-color: steelblue;
    color: white;
    padding: 3px 6px;
    border-radius: 8px;
}
.card-style{
    background-color: lightcyan;
    border: 1px solid navy;
    padding: 5px;
    border-radius: 5px;
}